.margin
{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.BACKGROUND
{
    width: 1368px;
    height: 655px;
    background-color:  rgb(67, 2, 128); 
   
}



.clock-heading
{
    color: white;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40PX;
    margin-left: 150px;
    margin-top: -58px;

}

.clock-size
{
    width: 150px;
    height: 55px;
    margin-top: 80px;
    margin-left: 80px;

}

.first-box
{
    width: 400px;
    height: 100px;
    background-color:#FFFFFF; 
    opacity: 3;
    margin-top: -90px ;
    margin-left: 890px;
    border-radius: 5px;
    justify-content: space-evenly;
    display: flex;


}

.shadow
{
    width: 300px;
    height:30px;
    margin-top: -15px;
    margin-left: 950px;
    background-color:#FFFFFF;
    display:flex;
    opacity: 0.9;
    border-radius: 7px;
}

.shadow1{
    width: 200px;
    height:20px;
    margin-top: -9px;
    margin-left: 1000px;
    background-color:#FFFFFF;
    opacity: 0.3;
    display:flex;
    opacity: 0.3;
    border-radius: 7px;

}
.time1
{
 width: 52px;
 height: 60px;
 background-color:#FFFFFF;
 margin-top: 20px;
 border-radius: 3px;
 

}

.num
{   margin-left: 2px;
    color: #8A11BF;
    position:relative;
    left:20%;
    font-size: 20px;

}

.ts
{
    color:#3D087B;
    position:relative;
    left:15%;
}

.num
{
    font-size: 20px;
    color: rgb(67, 2, 128);
    margin-bottom: 0px;
    margin-top: 0px;
}
.ts
{
    margin-top: 0px;
    font-size: 15px;
    color:rgb(67, 2, 128);
}

.upto
{
    font-size: 25px;
    position:relative;
    left:15%;
    top:15%;
    color:#FFFFFF ;
}
.timming
{
    font-size: 15px;
    color: rgb(67, 2, 128);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 21px;
    margin-left:7px ;
    
}
.time2
{
 width: 52px;
 height: 60px;
 background-image: url(./timeline.svg);
 margin-top: 20px;
 border-radius: 3px;

}

#hours
{
    margin-left: 10px;
    font-size: 25px;
}


.time3
{
 width: 52px;
 height: 60px;
 background-image: url(./timeline.svg);
 margin-top: 20px;
 border-radius: 3px;

}

#minutes
{
    margin-left: 10px;
    font-size: 25px;
}

.time4
{
 width: 52px;
 height: 60px;
background-image: url(./timeline.svg);
 margin-top: 20px;
 border-radius: 3px;

}

#seconds
{
    margin-left: 10px;
    font-size: 25px;
}


.time5
{
 width: 52px;
 height: 60px;
 background-image: url(./AM_svg.svg);
 margin-top: 20px;
 border-radius: 3px;

}


.second-main
{
    display: flex;
    
}

.second-box
{
    width: 500px;
    height: 250px;
    background-color: #FFFFFF;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 7px;
    
}


.third-box
{
    width: 400px;
    height: 400px;
    margin-top: -230px;
    margin-left: 810px;
    background-color:cornsilk;
    border-radius: 7px; 
    background-image: url(./lunch_image.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    
}

.letshave
{
    
    margin-left: 350px;
    margin-top: 100px;



}

.lets
{
    width: 500px;
    height:30px;
    font-size: 25px;
    color: #8E53F0;
    font-family:'Oswald', sans-serif;
    
}



.mini
{
    width:500px;
    height:50px;
    
    border-radius:7px;
    margin-top: -130px;
    
    background-color:#702cdd ;

}

.miniest
{
    width: 250px;
    height: 40px ;
    background-color:white;
    border-radius: 5px;
    margin-top: 30px;
    
  
    background-image:linear-gradient(to right,#8E53F0, #db54e7);
    background-size: 100% 100%;
    
    
}

.party
{
    color: white;
    margin-left: 80px;
    margin-top: 3px;
    font-size: 20px;
      
}

.good
{
    color: white;
    position: relative;
    left: 20%;
    top:20%;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Chango', cursive;
   
    
}


.wakemain
{
    margin-top: -28px;
    margin-left: 60px ;
}


.wake_up
{
    width: 28px;
    height: 28px;
    margin-top: -5px;
    margin-left: -40px;
   
}
.wake
{
    width: 250px;
    height: 35px;
    margin-left: 30px;
    margin-top: 45px;
    color:#3D087BDE;
    border: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border-color: #EDEDED;
    box-shadow: #EDEDED;
}
.wake_up_time
{
    color:#3D087B ;
}


.part1
{
    margin-left: -30px;
    margin-top: 50px;
}

.lunch_time
{
    width: 25px;
    height:25px;
    margin-left:-10px;
}

.lun
{
    color:#3D087B ;
}

.lunc
{
    width: 250px;
    height: 35px;
    margin-left: 50px;
     color:#3D087BDE;
    border: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border-color: #EDEDED;
    box-shadow: #EDEDED;
}

.part2
{
    margin-left: -30px;
    margin-top: 50px;

}

.nap_time
{
    width: 25px;
    height:25px;
    margin-left:-10px;
}

.nap
{
    color:#3D087B ;
}

.napt
{
    width: 250px;
    height: 35px;
    margin-left: 50px;
     color:#3D087BDE;
    border: solid;
    border-width: 1px;
    background-color: #FFFFFF;
    border-radius: 3px;
    border-color: #EDEDED;
    box-shadow: #EDEDED;
}

















                  